<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>conference Feedback form</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style=" background: #f2f4f7;">
           <form [formGroup]="ratingForm">
            <div class="form-row">
                <div class="form-group col-sm-6 mt-2">
                   <h6 class="mb-0">Rate your exprience</h6>
                </div>
                <div class="form-group col-sm-6 mt-2">
                    <h6 class="mb-0">5 being the highest</h6>
                </div>
            </div>
            <div class="form-row" *ngFor="let rating of ratingList, let i = index">
                <div class="form-group col-sm-6">
                   {{rating.title}}
                </div>
                <div class="form-group col-sm-6">
                  <div class="form-check-inline" *ngFor="let radio of [1, 2, 3, 4, 5]">
                    <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
                    <label class="form-check-label" for="gridRadios+{{radio}}">
                     {{radio}}
                    </label>
                  </div>
                  <!-- <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                     4
                    </label>
                  </div> -->
           
                    <!-- <div class="form-check-inline">
                        <label class="form-check-label" for="reg5">
                          <input type="radio" class="form-check-input" id="5" value="5_{{rating.id}}" name="{{rating.title}}" formControlName="rating">5
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="reg4">
                          <input type="radio" class="form-check-input" id="4"  value="4_{{rating.id}}" formControlName="rating" name="{{rating.title}}">4
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="reg3">
                          <input type="radio" class="form-check-input" id="3"  value="3_{{rating.id}}" formControlName="rating" name="{{rating.title}}">3
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="reg2">
                          <input type="radio" class="form-check-input" id="2"  value="2_{{rating.id}}" formControlName="rating" name="{{rating.title}}">2
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="reg1">
                          <input type="radio" class="form-check-input" id="1"  value="1_{{rating.id}}" formControlName="rating" name="{{rating.title}}">1
                        </label>
                      </div> -->
                </div>
            </div>
           
            <hr>
            <div class="form-row">
                <div class="form-group col-sm-6 mt-2">
                   <h6 class="mb-0">Any recommendation on...</h6>
                </div>
                <div class="form-group col-sm-6 mt-2">
                    <h6 class="mb-0">Remarks</h6>
                </div>
            </div>
            <div class="form-row" >
                <div class="form-group col-sm-6">
                  Agenda Topics And speakers
                </div>
                <div class="form-group col-sm-6">
                    <input type="text"  class="form-control" placeholder="Write here" id="agenda" formControlName="agenda" >
                </div>
            </div>
            <div class="form-row" >
              <div class="form-group col-sm-6">
                Registration Process
              </div>
              <div class="form-group col-sm-6">
                  <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
              </div>
          </div>
          <div class="form-row" >
            <div class="form-group col-sm-6">
              Event Promotion
            </div>
            <div class="form-group col-sm-6">
                <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
            </div>
          </div>
            <div class="form-row">
                <div class="form-group col-sm-6 offset-sm-3">
                    <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Send Feedback</button>
                </div>
            </div>
           </form>
          </div>
        </div>
      </div>
    </div>