<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Networking_Lounge.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<div class="bg">
  <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
    <div class="alert alert-success " role="alert">
      The session is currently live, please proceed towards the grand ballroom.
    </div>
  </div>
  <div style="position: absolute;  top: 24%;  left: 19%;">
    <vg-player  [ngStyle]="{'width': '20%'}">
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">

        <vg-play-pause></vg-play-pause>
        <vg-time-display ></vg-time-display>
        <vg-playback-button></vg-playback-button>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen ></vg-fullscreen>
      </vg-controls>
      <vg-buffering></vg-buffering>
      <video #myMedia [vgMedia]="myMedia"
      preload="auto"  autoplay="true"
       vg-responsive="true"
      type="video/mp4" [vgHls]="videoPlayer"  >
      <!-- <source src="assets/video/networking_lounge_video.mp4" type="video/mp4"> -->
      </video>
  </vg-player>
  </div>
</div>
<div class="letsChat" (click)="openChat()">
  <div class="pulsating-circle" ></div>
</div>
<div class="smile" (click)="openCamera()">
  <div class="pulsating-circle" ></div>
</div>
<div class="video">
  <a class="pulsating-circle" href="assets/video/networking_lounge_video.mp4" download="" title="Download Video"></a>
</div>
<div class="auditorium-left">
  <div class="pulsating-circle" (click)="openWtsapp()" ></div>
</div>
<div class="photobooth">
  <div class="pulsating-circle" (click)="openCamera()" ></div>
</div>


<div class="wtsapp">
  <div class="pulsating-circle" (click)="openWtsapp()"></div>
</div>
