.bg {
    background-image: url(../../../assets/img/NetworkingLounge/fame.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 767px){
	.bg{
		background-position: top center;
    	background-size: contain;
	}
}
.letsChat {
  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 15%;
      cursor: pointer;
  }
}
.smile {
  .pulsating-circle{
      position: absolute;
      top: 30%;
      right: 15%;
      cursor: pointer;
  }
}
.video {
  .pulsating-circle{
      position: absolute;
      top: 20%;
      right: 15%;
      cursor: pointer;
  }
}
.wtsapp {
  .pulsating-circle{
      position: absolute;
      top: 9%;
      right: 15%;
      cursor: pointer;
  }
}
.auditorium-left {
  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.photobooth {
  .pulsating-circle{
      position: absolute;
      top: 56%;
      left: 38%;
      cursor: pointer;
  }
}
