
<div>
  <div class="bg"></div>


  <div class="askqa">
    <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal">

    </div>
</div>
  <div class="agenda">
      <div class="pulsating-circle" data-toggle="modal" data-target=".agendaModal">

      </div>
  </div>
  <div class="heighlights">
      <div class="pulsating-circle"  data-toggle="modal" data-target=".heightlightModal">

      </div>
  </div>
</div>



