.bg {
    background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
.reception {
    .pulsating-circle{
        position: absolute;
        bottom: 17%;
        left: 51%;
        cursor: pointer;
    }
}
.reception {
        position: absolute;
        bottom: 15%;
        left: 49%;
        cursor: pointer;
        // background: black;
        height: 50px;
        width: 70px;
    
    .pulsating-circle{
        position: absolute;
        bottom: 17%;
        left: 51%;
        cursor: pointer;
    }
}
.front_audi {
    .pulsating-circle{
        position: absolute;
        bottom: 50%;
        left: 51%;
        cursor: pointer;
    }
}
.front_audi {
        position: absolute;
        bottom: 45%;
        left: 49%;
        cursor: pointer;
        // background: black;
        height: 50px;
        width: 70px;
    
    .pulsating-circle{
        position: absolute;
        bottom: 0%;
        top: 110%;
        left: 8%;
        cursor: pointer;
    }
}
.auditorium-left {
    .pulsating-circle{
        position: absolute;
        top: 37%;
        left: 18%;
        cursor: pointer;
    }
}
.auditorium-right {
    .pulsating-circle{
        position: absolute;
        top: 37%;
        right: 23%;
        cursor: pointer;
    }
}
.auditorium-right {
    
        position: absolute;
        top: 30%;
        right: 13%;
        height: 90px;
        width: 200px;
        cursor: pointer;
        // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}
.exhibition-hall {
    .pulsating-circle{
        position: absolute;
        top: 56%;
        left: 32%;
        cursor: pointer;
    }
}
.registraion-desk {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
}
.networking-lounge {
    height: 70px;
    width: 200px;
    position: absolute;
    top: 51%;
    right: 25%;
      // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 80%;
          cursor: pointer;
      }
  
  }
.agenda {
    position: absolute;
    bottom: 25%;
    right: 36%;
    cursor: pointer;
    // background: black;
    height: 50px;
    width: 70px;

    .pulsating-circle{
        position: absolute;
        top: 51%;
        right: 37.6%;
        cursor: pointer;
    }

}
.heighlights {
    position: absolute;
    bottom: 25%;
    left: 34.5%;
    cursor: pointer;
    // background: black;
    height: 50px;
    width: 70px;

    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}

