<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<div class="bg"></div>
<div class="letsChat" (click)="lifeboy()">
  <div class="pulsating-circle" ></div>
</div>
<div class="lifeboy2" (click)="lifeboy()">
  <div class="pulsating-circle" ></div>
</div>
