.bg {
    background-image: url(../../../../../assets/img/Auditorium/v4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 767px){
	.bg{
		background-position: top center;
    	background-size: contain;
	}
}
a{

    cursor: pointer;
}
.handimg{
    width:48px;
    height:48px;
    display: block;
    background-image:url(../../../../../assets/img/clap.png);
    background-repeat:no-repeat;
}
a:active{
    background-position:0px -64px;
}


#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        text-transform: uppercase;
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }

      }
    }
    .form-control{
        background: transparent;
        font-size: inherit;
    }
  }
  .rightMenu{
    position: absolute;
    right: 0;
    top: 30%;
    text-align: center;
    padding: 20px 10px;
    color: #fff;
    background: rgba(255,255,255,.4);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}





