<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/to_left_Auditorium.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<div class="bg">
      <!-- <div class="rightMenu">
          <ul class="list-unstyled">
              <li>

                <audio id="myAudio">
                    <source src="../../../../../assets/img/applause.wav" type="audio/wav">
                    <source src="../../../../../assets/img/applause.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                  <a (click)="playAudio()" type="button">
                      <span class="handimg"></span>
                  </a>
              </li>
              <li> <a data-toggle="modal" data-target=".feebackModal"><img src="../../assets/icons/contact.png" alt="">
                <div>Feedback</div>
            </a></li>
              <li></li>
          </ul>
      </div> -->
      <!-- <div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container-fluid" id="popup">
                    <div class="container-fluid" id="popup">
                        <div class="row">
                          <div class="col-md-12 col-xl-12">
                            <div class="chat_section">
                              <div class="popup_header">
                                <h6>conference Feedback form</h6>
                                <a class="close" (click)="closePopup()"></a>
                              </div>
                              <div class="container-fluid" style=" background: #f2f4f7;">
                               <form formGroup="ratingFormne">
                                <div class="form-row">
                                    <div class="form-group col-sm-6 mt-2">
                                       <h6 class="mb-0">Rate your exprience</h6>
                                    </div>
                                    <div class="form-group col-sm-6 mt-2">
                                        <h6 class="mb-0">5 being the highest</h6>
                                    </div>
                                </div>
                                <div class="form-row" *ngFor="let rating of ratingListFed, let i = index">
                                    <div class="form-group col-sm-6">
                                       {{rating.title}}
                                    </div>
                                    <div class="form-group col-sm-6">
                                      <div class="form-check-inline" *ngFor="let radio of [1, 2, 3, 4, 5]">
                                        <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
                                        <label class="form-check-label" for="gridRadios+{{radio}}">
                                         {{radio}}
                                        </label>
                                      </div>
                                     
                                    </div>
                                </div>
                               
                                <hr>
                                <div class="form-row">
                                    <div class="form-group col-sm-6 mt-2">
                                       <h6 class="mb-0">Any recommendation on...</h6>
                                    </div>
                                    <div class="form-group col-sm-6 mt-2">
                                        <h6 class="mb-0">Remarks</h6>
                                    </div>
                                </div>
                                <div class="form-row" >
                                    <div class="form-group col-sm-6">
                                      Agenda Topics And speakers
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text"  class="form-control" placeholder="Write here" id="agenda" formControlName="agenda" >
                                    </div>
                                </div>
                                <div class="form-row" >
                                  <div class="form-group col-sm-6">
                                    Registration Process
                                  </div>
                                  <div class="form-group col-sm-6">
                                      <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
                                  </div>
                              </div>
                              <div class="form-row" >
                                <div class="form-group col-sm-6">
                                  Event Promotion
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
                                </div>
                              </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6 offset-sm-3">
                                        <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Send Feedback</button>
                                    </div>
                                </div>
                               </form>
                              </div>
                            </div>
                          </div>
                        </div>
            </div>
        </div>
    </div> -->

  
  
  </div>
