.bg {
    background-image: url(../../../../../assets/img/Stage/audi1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
#player_sec{
    position: absolute;  
    top: 47%;  
    left: 50%; 
    width: 450px; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 767px){
	.bg{
		background-position: top center;
    	background-size: contain;
	}
}

.rightMenu{
  position: absolute;
  right: 0;
  top: 30%;
  text-align: center;
  padding: 20px 10px;
  color: #fff;
  background: rgba(0,0,0,.3);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
a{

  cursor: pointer;
}
.handimg{
  width:48px;
  height:48px;
  display: block;
  background-image: url(../../../../../assets/img/hand.png);
  background-repeat:no-repeat;
}
.whistle{
    width:48px;
    height:48px;
    display: block;
    // background-image: url(../../../../../assets/img/whistle.png);
    background-repeat:no-repeat;
  }
