.bg {
    background-image: url(../../../../../assets/img/Auditorium/audi3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;
  
    width: 100%;
    height: 100vh;
    // position: relative;
  }
  .reception {
    .pulsating-circle{
        position: absolute;
        bottom: 17%;
        left: 51%;
        cursor: pointer;
    }
  }
  .auditorium-left {
    .pulsating-circle{
        position: absolute;
        top: 37%;
        left: 23%;
        cursor: pointer;
    }
  }
  .auditorium-right {
    .pulsating-circle{
        position: absolute;
        top: 37%;
        right: 23%;
        cursor: pointer;
    }
  }
  .exhibition-hall {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 36%;
        cursor: pointer;
    }
  }
  .registraion-desk {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
  }
  .networking-lounge {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        right: 36%;
        cursor: pointer;
    }
  
  }
  .agenda {
    .pulsating-circle{
        position: absolute;
        top: 52%;
        right: 23%;
        cursor: pointer;
    }
  
  }
  .front_audi {
    .pulsating-circle{
        position: absolute;
        top: 54%;
        right: 50%;
        cursor: pointer;
    }
  
  }
  .heighlights {
    .pulsating-circle{
        position: absolute;
        top: 52%;
        left: 24.5%;
        cursor: pointer;
    }
  
  }
  
  