<div class="bg"></div>

<audio id="myAudio"  preload="auto" autoplay (ended)="naviTolob()">
  <source src="../assets/img/Lobby/welcome.mpeg" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<a (click)="playAudio()" type="button"></a>
