
#popup{
    // background: #000000c9;
    padding: 5px;
    .chat_section{
      // background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // color: #fff;
        color: #292F35;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
          background: #292F35;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }

#openPopup{
    position: absolute;
    top: 60%;
    left: 43%;
    width: 96px;
    height: 50px;
    background: transparent;
    cursor: pointer;
}

.bg {
    background-image: url(../../../assets/img/photoCapture/photobooth.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 767px){
	.bg{
		background-position: top center;
    	background-size: contain;
	}
}
.vid {
    width: 100%;
    border-top: 3px solid #ffc90e;
    border-right: 3px solid #ffc90e;
    border-left: 3px solid #ffc90e;
    // border-radius: 5px;
    // max-height:40vh;
}
#wholeCam{
  position: relative;
  #watermark{
    position: absolute;
    text-align: center;
    width: 97%;
    left: 7px;
    height: 49px;;
    background: white;
    font-size: 18px;
    font-weight: 600;
    bottom: 9px;
    line-height: 50px;
  }
}


