<div class="bg">
    <div (click)="openCapturePhotoModal()" data-toggle="modal" class="capturePhotoModal" id="openPopup">
        <div style="position:relative; top:45px; left:45px" class="pulsating-circle"></div>
    </div>

</div>


<!-- capture photo -->

<div class="modal fade capturePhotoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Take A Snap</h6>
                                <a class="close" (click)="closeCamera()"></a>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="vh-100">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div id="wholeCam" class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                                            <video #video id="vid" class="vid videoData" autoplay></video>

                                                            <!-- <img style="position: absolute;top:25px;left:37px;" id="logo"
                                                                src="../../../assets/img/logo.png" /> -->
                                                            <div id="watermark">
                                                                <img style="position: absolute;bottom:10px;left:0px;width: 100%;" id="logo"
                                                                    src="../../../assets/img/face.png" />
                                                                <!-- <p>Powered To Do More</p> -->
                                                            </div>
                                                            <!-- <video id="vid"></video>

                                                <br /><br />
                                                <button>take a snapshot</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-1" *ngIf="!showImage">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <img src="../../../assets/img/camera.png" width="50" style="cursor: pointer"
                                                                (click)="capture()" alt="">
                                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                                    <!-- <img id="scream" width="20" height="27" src="../../../assets/img/xtrem.jpeg" alt="The Scream"> -->
                                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                                    <div class="text-center p-2">
                                                        
                                                        <a href="{{img}}" download="screenshot.png"><img src="../../../assets/img/download.png"
                                                                width="50" alt="" (click)="uploadVideo()"></a>
                                                        &nbsp; &nbsp; &nbsp;

                                                        <a style="cursor:pointer"><img src="../../../assets/img/retake.png"
                                                                width="50" alt="" (click)="reload()"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>