<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="text-center p-3">
                <h5>PROFILE</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="name">First Name: {{profile.first_name}}</label>
            </div>
        </div>
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="lastName">Last Name: {{profile.last_name}}</label>
            </div>
        </div>
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="jobtitle">Job Title: {{profile.job_title}}</label>
            </div>
        </div>
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="company">Company: {{profile.company}}</label>
            </div>
        </div>
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="email">Email: {{profile.email}}</label>
            </div>
        </div>
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="department">Department: {{profile.department}}</label>
            </div>
        </div>
        <div class="col-md-6 col xl-6">
            <div class="form-group">
                <label for="mobile">Mobile: {{profile.mobile}}</label>
            </div>
        </div>
    </div>
</div>