header{
    position: fixed;
    .mobile-menu{
        display: inline-flex;
        list-style-type: none;
    }
}

:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
    main {
      flex: 1;
      position: relative;
      margin-top: 46px;
    }

    ::ng-deep router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  .navbar {
      #navbarSupportedContent{
          li {
              a {
                  text-decoration: none;
                  color: #3b3b3c;
                  font-size: 15px;
              }
          }
      }
      #icon-right {
        display: inline-flex;
        list-style-type: none;
        li {
              list-style: none;
          }
      }
  }
  .footer-nav{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      padding: 2px 0 10px 0;
      background: #fff;
      background: linear-gradient(180deg, rgba(221, 221, 221, 0) 5.98%, rgba(255, 255, 255, 0.5) 25.24%, rgba(255, 255, 255, 0.95) 59.38%, #ffffff 90%, #ffffff 90%);

    //   background: rgb(34,34,34);
    //   background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(29,29,29,0.3981967787114846) 100%);
    }

    .footer-nav1{
        padding: 0; margin: 7px 0 0 0;
    }
    .footer-nav1 li{
        padding: 0 0 0px 24px;
        margin: 0;
        display: inline-block;
        list-style: none;
        text-decoration: none;

        a{
            text-decoration: none;
            // color: white;
            color: black;
            font-size: 12px;
            cursor: pointer;
            img {
                transition: .3s;
                -ms-transform: scale(.85); /* IE 9 */
                -webkit-transform: scale(.85); /* Safari 3-8 */
                transform: scale(.85); 
                transition: .3s;
                -ms-transition: .3s; /* IE 9 */
                -webkit-transition: .3s; /* Safari 3-8 */

            }
            .fa{
                font-size: 24px;
            }
        }
        .linkActive {
            .fa{
                font-size: 24px;
                color: #f15c25;
            }
            div{
                border-bottom: 2px solid #f15c25;
                color: #f15c25;
            }
            padding-bottom: 10px;
        }
    }
    .footer-nav1 li:hover{
        a{
            img{
                transition: .3s;
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1); /* Safari 3-8 */
                transform: scale(1.1); 
            }
            .fa {
                transition: .3s;
                -ms-transform: scale(1.2); /* IE 9 */
                -webkit-transform: scale(1.2); /* Safari 3-8 */
                transform: scale(1.2); 

            }

        }
    }
    .noLink{
        div{
            border-bottom: none;
            color: none;
        }
    }

    .vid {
        width: 100%;
        border: 10px solid #ffc90e;
        // border-radius: 5px;
        // max-height:40vh;
    }
    #logout{
        color:red;
        cursor: pointer;
    }
    
    // .rightMenu{
    //     position: absolute;
    //     right: 0;
    //     top: 30%;
    //     text-align: center;
    //     padding: 20px 10px;
    //     color: #fff;
    //     background: rgba(0,0,0,.3);
    //     border-top-left-radius: 20px;
    //     border-bottom-left-radius: 20px;
    // }
    // a{

    //     cursor: pointer;
    // }
    // .handimg{
    //     width:48px;
    //     height:48px;
    //     display: block;
    //     background-image:url(../../assets/img/icons8-applause-48.png);
    //     background-repeat:no-repeat;
    // }
