
<!-- <div class="h-5">
    <img src="../../assets/img/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0 ">
            <img src="assets/img/Outer/outer.jpg" class="signup-img" alt="login image">
            <div class="signup-section col-md-4">
                    <img src="assets/img/logo.png" alt="">
                    <h4 class="pl-3 pt-2"><span style="border-bottom: 2px solid black; font-weight: 600">SIGNUP</span></h4>
                    <h6 class="pl-3 pt-2" *ngIf="msg"><span style="font-weight: 400; color: green;">{{msg}}</span></h6>
                    <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                        <div class="form-row pr-3">
                            <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Name*</label>
                                <input type="text" formControlName="first_name" required>
                                <div *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->

                                </div>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Email*</label>
                                <input  type="email" formControlName="email" required>
                                <div *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->

                                </div>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Headquater*</label>
                                <input type="text" formControlName="job_title" required>
                                <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div> -->

                                </div>
                            </div>



                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Token*</label>
                                <input type="text" formControlName="token">
                            </div> -->

                            <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <img [src]="imgURL" height="100" *ngIf="imgURL">
                            </div>
                            <div class="col-md-12 col-xl-12 col-sm-12 pl-4">
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
                                    <label for="checkbox"><span>*I agree, By supplying my contact
                                            information.</span></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12 col-sm-12 pt-1 pl-4">
                                <button class="submit-btn" type="submit">Submit</button>
                            </div>

                        </div>
                        &nbsp;
                        <p class="login-wrapper-footer-text">you have an account? <a routerLink="/login" class="text-reset">Login here</a></p>
                    </form>
                </div>
        </div>
    </div>

</div>
