<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>Highlights</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="background: #c5c5c5;">
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 pl-0">
              <div id="high" class="carousel slide" data-interval="false">

                <!-- Indicators -->
                <!-- <ul class="carousel-indicators">
                  <li data-target="#high" data-slide-to="0" class="active"></li>
                  <li data-target="#high" data-slide-to="1"></li>
                  <li data-target="#high" data-slide-to="2"></li>
                </ul> -->

                <!-- The slideshow -->
                <div class="carousel-inner" style="text-align: center;">
                  <div class="carousel-item active">
                    <img src="../../../assets/img/1.JPG" style="width: 80%; ">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/3.JPG" style="width: 80%; ">
                  </div>

                  <div class="carousel-item">
                    <img src="../../../assets/img/5.JPG" style="width: 80%; ">
                  </div>





                </div>

                <!-- Left and right controls -->
                <a title="Previous" class="carousel-control-prev" href="#high" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a title="Next" class="carousel-control-next" href="#high" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>

              </div>

            </div>
            <!-- <div class="col-md-1 col-xl-1">
              <div class="online_chat"></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
